/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  /* border:50px solid silver !important; */
  /*background: #F8F8FC !important;*/
}
body {
  padding-top: 10px;
}
footer {
  padding: 30px 0;
}

button {
    padding: -20px;
    margin: 0;
    height: text-height;
    border: 0px solid #000;

}


.transition {
    -webkit-transform: scale(7); 
    -moz-transform: scale(7);
    -o-transform: scale(7);
    transform: scale(7);
}
img[id^=content] {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}

img[id^=content] {
    width:80px;
    margin:5px;
}

.tab-bar
  {
  background: none repeat scroll 0% 0% #ffffee !important;
  border:1px solid silver !important; 
  }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;

  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 10px;
    width: 50%; /* 6 columns */
    
    background: #fff4ee;
  }

  
}
